<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/" style="margin-left: 25px;">
    Invoice upload
  </a>
<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>
 </ul>
</nav>
