<!-- Footer -->
<footer class="page-footer font-small bg-light darken-3 fixed-bottom">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© {{ "now"|date("Y") }} Copyright:
        <a href="http://...." target="_blank">example.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->